<div class="card card-big mb15">
        <div class="card__img-wrap">
            <img src={{imageSource}} style="width: 10px; height: 10px;">
            <h4 class="title title-overlay-center">{{cityName}}</h4>
        </div>
        <div class="card__info">
            <div class="title-left-wrap"> <h5>{{source}}</h5> <small> {{ab1}} </small></div>
            <span class="icon-center-wrap"><i class="material-icons rotate90"></i></span>
            <div class="title-right-wrap"> <h5>{{dest}}</h5> <small>  {{ab2}} </small></div>
        </div> <!--  card__info //  --> 
        <div class="card__pricelist">
            <div class="cost">
                <div class="logo-wrap"><img src="https://asfartrip.com/public/assets/images/airline_logo/J9.png"></div>
                <div class="icon-wrap"> <i class="material-icons"></i>  <small>20-Jan</small> </div>
                <div class="price-wrap"><var class="price"><span class="currency">{{currency}}</span>  {{price1}}</var> 
                    <a rel="nofollow" target="_blank" href="" class="small">Book</a></div>
            </div><!--  cost //  -->
            <div class="cost">
                <div class="logo-wrap"><img src="https://asfartrip.com/public/assets/images/airline_logo/EK.png"></div>
                <div class="icon-wrap"> <i class="material-icons"></i>  <small>20-Jan</small> </div>
                <div class="price-wrap"><var class="price"><span class="currency">{{currency}}</span>  {{price2}}</var> 
                    <a rel="nofollow" target="_blank" href="" class="small">Book</a></div>
            </div><!--  cost //  -->
            <div class="cost">
                <div class="logo-wrap"><img src="https://asfartrip.com/public/assets/images/airline_logo/MS.png"></div>
                <div class="icon-wrap"> <i class="material-icons"></i>  <small>20-Jan</small> </div>
                <div class="price-wrap"><var class="price"><span class="currency">{{currency}}</span> {{price3}}</var> 
                <a rel="nofollow" target="_blank" href="" class="small">Book</a></div>
            </div><!--  cost //  -->
        </div> <!-- card__pricelist // -->
    </div> <!-- card // -->